<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Ingresar Categoría</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<style>
	.container {
	    align-items: center;
    	display: flex;
    	flex-direction: column;
    	margin: 2em;
	}
	
	span {
		color:red;
	}
	
	.row {
	    display: flex;
	    align-items: baseline;
	    margin-bottom: 1em;
	}
	
	label {
		margin-right: 0.5em;
	}
</style>
</head>
<body>

<div class="container">
	<h1 style="margin-bottom: 1em;">Ingresar Categoría</h1>
	<form th:action="@{/ingresarCategoria}" th:object="${categoria}" method="post">
  			
  		<div class="row">
    		<label>Nombre Categoría</label>
    		<div>
    			<input type="text" th:field="*{categoria}"><br>
    			<span th:errors="*{categoria}"></span><br>
    		</div>
  		</div>
		
		<div class="row">
			<input type="submit" class="btn btn-success" value="Guardar Categoría">
		</div>
		
	</form>
	
	<a type="button" class="btn btn-info" href="/index" style="margin-top: 2em;">Regresar</a>
	 
</div>

</body>
</html>